html {
  height: 100%;
  padding: 0px;
}

body{
  height: 100%;
  padding: 0px;
  background-color: black;
}

.container-fluid{
	padding: 0px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.window{
	height: 95vh;
	width: 95%;
	background-color:#1e1e1e;
	border-radius: 10px 10px;
}

.window-head{
	height: 40px;
	width: 100%;
	padding-left: 10px;
	align-items: center;
	background-color: #181818;
	border-radius: 10px 10px 0px 0px;
	border-bottom: 1px solid #353535; ;
}

.window-head-buttons{
	min-width: 90px;
}

.window-head-title{
	color: #c2c2c2;
	font-size: 15px;
	padding-top: 2px;
	align-self: center;
	background-color: #313131;
	height: 30px;
	min-width: 300px;
	width: 30%;
	border-radius: 10px;
	border: #4b4b4b solid 1px;
	justify-content: center;
	font-family: 'Cascadia Code', sans-serif;
}

.window-center{
	width: 100%;
	justify-content: center;
}

.window-body{
	background-color: #1f1f1f;
	height: 95%;
	font-family: 'Cascadia Code', sans-serif;
}


.window .dot {
  height: 17px;
  width: 17px;
  border-radius: 50%;
  display: inline-block;
  margin: 3px 8px 0px 0px;
}

.window .dot.red{
	background-color:#ff5f58;
}
.window .dot.yellow{
	background-color:#febd2f;
}
.window .dot.green{
	background-color:#26ca41;
}

.window ul {
	list-style-type: none;
	list-style: none;
	padding-left: 0px;
	margin: 0px;
	width: 100%;
}

img.codeoutline{
	filter: invert(63%) sepia(14%) saturate(6873%) hue-rotate(343deg) brightness(90%) contrast(91%);
	margin: 0px 3px;
	height: 14px;
	width: 14px;
	border-radius: 3px;
}
img.close{
	filter: invert(34%) sepia(95%) saturate(6%) hue-rotate(252deg) brightness(95%) contrast(88%);
}

img.downarrow{
	height: 12px;
	margin-right: 3px;
	filter: invert(86%) sepia(0%) saturate(1322%) hue-rotate(176deg) brightness(100%) contrast(83%);
}

.inactive{
	display: none;
}

.external-content{
	color: #c2c2c2;
}

 .external-content h1{
	font-size: 20px;
	color:#8cdcfe;
	
}

.external-content h2{
	font-size: 18px;
	color:#ce723c;
}

.external-content h3{
	font-size: 15px;
	color: #a7ce9b;
}

.external-content p{
	font-size: 14px;
}